*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 300ms ease;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
*:not(.loud-box, .loud-box *)::selection {
  background-color: #8e8ed6;
}
.light-mode {
  --main-color: #fff;
  --font-color: #000;
  --sub-font-color: #0007;
  --code-color: #d9d9f1;
  --caret-color: #44b;
  --secondary-sub-font-color: #0009;
  --tertiary-font-color: #0006;
  --text-area-bg: #fff6;
  --text-area-bg-hover: #fff9;
  --text-area-bg-focus: #fffc;
  --text-area-color: #0009;
  --cite-color: #050;
}
.dark-mode {
  --main-color: #223;
  --font-color: #fffe;
  --sub-font-color: #fff7;
  --code-color: #28284e;
  --caret-color: #fffb;
  --secondary-sub-font-color: #fff9;
  --tertiary-font-color: #fff6;
  --text-area-bg: #fff1;
  --text-area-bg-hover: #fff2;
  --text-area-bg-focus: #fff3;
  --text-area-color: #fff9;
  --cite-color: #096;
}
body {
  background-color: var(--main-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
  position: relative;
}
#announcement {
  height: 6vh;
  background-color: #44b3;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  min-height: 20vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: min(3.2em, 11vw);
  text-align: center;
  padding-block-start: min(.7em, 12vw);
  padding-block-end: .2em;
}
h1 span,
h2 span {
  color: var(--sub-font-color);
  font-size: .6em;
  font-weight: lighter;
  vertical-align: middle;
}
.buttons {
  display: flex;
  gap: .3em;
  justify-content: center;
}
#githubIcon {
  width: 2em;
}
*[tabindex='0']:not(table *) {
  outline: 2px solid #44b0;
  outline-offset: 1.5px;
}
*[tabindex='0']:not(table *):focus-visible {
  outline-color: #44b9;
}
button, .button {
  background-color: #44b;
  color: #fffb;
  font-size: 1.3em;
  font-family: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: .3em;
  outline: 2px solid #44b0;
  outline-offset: 1.5px;
  padding: .3em .5em;
  transition: all 100ms ease;
  cursor: pointer;
  transition: all 300ms ease, outline-color 400ms ease;
}
button:hover, .button:hover {
  background-color: #44b9;
  color: #ffffffee;
}
button:focus, .button:focus {
  outline-color: #44b9;
}
button svg, a svg {
  width: 100%;
  height: 100%;
}
a {
  color: #44b;
  font-family: inherit;
  outline: 1px solid #44b0;
  outline-offset: 1.5px;
  border-radius: .3em;
}
a:focus-visible {
  outline-color: #44b9;
}
main {
  padding-block: 3.5em 2em;
}
main > * > h2 {
  font-size: 2.4em;
  padding-bottom: .4em;
}
main > * > h3 {
  font-size: 1.7em;
  padding-bottom: .4em;
}
section {
  padding-bottom: 4.3em;
}
section.initialization,
section.upcoming-features {
  counter-reset: section;
}
blockquote {
  margin: 0;
}
blockquote:not(blockquote:last-of-type) {
  padding-bottom: 2em;
}
blockquote h2 {
  padding-bottom: .2em;
}
.initialization blockquote h2,
.upcoming-features blockquote h2 {
  counter-increment: section;
}
.initialization blockquote h2::before,
.upcoming-features blockquote h2::before {
  content: counter(section) '. ';
}
pre {
  background-color: #44b3;
  position: relative;
  border: 1px solid #44b0;
  border-radius: .4em;
  padding-inline-start: .7em;
  margin-block: 1em;
  overflow: hidden;
  isolation: isolate;
}
pre::after {
  content: '';
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to right, transparent 20%, var(--code-color) 70%);
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}
body.light-mode pre::after,
body.dark-mode pre::after {
  visibility: visible;
}
pre > div {
  z-index: 1;
}
code {
  width: 100%;
  display: block;
  padding-block: .7em;
  padding-inline-end: 10%;
  position: relative;
  overflow: hidden;
  user-select: all;
  overflow-x: scroll;
}
code::-webkit-scrollbar {
  display: none;
}
code .comment {
  color: var(--sub-font-color);
  font-weight: 300;
  font-style: italic;
}
*:not(pre) > code {
  width: fit-content;
  max-width: 100%;
  background-color: #44b3;
  vertical-align: middle;
  display: inline;
  margin-top: -.3em;
  padding: .3em;
  border-radius: .4em;
}
*:is(table) code {
  display: inline-block;
}
*:is(h2) > code {
  font-size: clamp(.9rem, 4.2vw, 1.3rem);
  white-space: nowrap;
}
cite {
  color: var(--cite-color);
}
kbd {
  background-color: var(--tertiary-font-color);
  color: #eef;
  font-weight: 900;
  white-space: nowrap;
  border-radius: .3em;
  padding: .25em .4em;
}






.table-container {
  background-color: #44b1;
  border: 2px solid #44b;
  border-radius: .6em;
  overflow-x: scroll;
}
table {
  width: 100%;
  min-width: 400px;
  border-collapse: collapse;
  color: var(--secondary-sub-font-color);
  font-weight: 600;
}
tr {
  outline: none;
}
tr:nth-of-type(even) {
  background-color: #44b3;
}
tr:focus-visible {
  box-shadow: 0 0 4px 4px #44b5;
}
th, td {
  width: 33.33%;
  text-align: center;
  padding: .5em;
}
td {
  overflow: hidden;
}
td p {
  height: 0px;
  font-size: .85em;
  color: var(--tertiary-font-color);
  overflow: hidden;
}
th {
  font-size: 1.1em;
  font-weight: 600;
}
thead tr {
  background-color: #44b;
  color: #fffb;
}
tbody tr.demarcation {
  border-block: 2px solid #44b;
}
tbody tr td + td {
  border-left: 2px solid #44b;
}




aside .playground {
  background-color: #44b3;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .9em;
  margin-top: .5em;
  padding: 1em .7em;
}
aside .textarea-container {
  width: 100%;
  position: relative;
}
aside textarea {
  width: 100%;
  background-color: var(--text-area-bg);
  color: var(--text-area-color);
  font-size: 1em;
  white-space: nowrap;
  caret-color: var(--caret-color);
  border: none;
  border-radius: .7em;
  outline: none;
  padding: .8em;
  padding-bottom: 3em;
  transition: all 400ms ease;
  resize: none;
}
aside textarea:focus {
  background-color: var(--text-area-bg-focus);
  color: var(--font-color);
}
aside textarea:hover {
  background-color: var(--text-area-bg-hover);
}
#externalPlayground {
  width: 1.8em;
  height: 1.8em;
  background-color: #44b5;
  position: absolute;
  bottom: .7em;
  right: .4em;
  padding: .35em;
}
#externalPlayground:hover,
#externalPlayground:focus {
  background-color: #44b;
}
@media (min-width: 700px) {
  aside textarea {
    font-size: 1.3em;
  }
  #externalPlayground {
    position: absolute;
    top: .4em;
    right: .4em;
  }
}
@media (hover: hover) {
  .table-container::-webkit-scrollbar,
  textarea::-webkit-scrollbar {
    display: none;
  }
}


a.button.twitter {
  width: fit-content;
  margin-block-start: 4em;
  margin-inline: auto;
}
a.button.twitter svg {
  width: 1em;
  height: 100%;
}




footer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  text-align: center;
}



.color-mode {
  width: 100%;
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  pointer-events: none;
}
#colorModeButton {
  width: 2em;
  height: 2em;
  background-color: #44b;
  opacity: 0.1;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 2s ease, outline 500ms ease;
  border-radius: 50%;
  padding: .4em;
  pointer-events: all;
}






.container {
  max-width: 80%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container {
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}